<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/expenses_tracker/static/css/style.css">
    <title>Expenses Tracker</title>
</head>

<body>
<!-- Navigation Bar -->
<nav>
    <ul>
        <li class="img"><img src="/expenses_tracker/static/images/dollar.png" alt="dollar"></li>
        <li><a href="{% url 'home_page' %}">Expenses Tracker</a></li>
        {% if not not_user %}
            <li class="right"><a href="{% url 'profile_page' %}">Profile</a></li>
        {% endif %}
    </ul>
</nav>
<!-- End Navigation Bar -->

<div class="container">
    {% block page_content %}

    {% endblock %}

</div>

<footer>
    <div>Python Web Basics Exam Preparation @SoftUni</div>
</footer>


</body>
</html>