{% extends "BASE_TEMPLATE.html" %}
{% block page_content %}
    <!-- Your Profile Data -->
    <h1>Your Profile</h1>
    <div class="expenses-container">
        <div class="expense-container">
            <!-- Full Name -->
            <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
            <!-- Profile Image -->
            <img src="{{ profile.image.url }}" alt="profile pic">
            <!-- Profile Description -->
            <!-- Total Items Bought -->
            <p>Total Items Bought: {{ total_expenses }}</p>
            <!-- Budget Left -->
            <p>Budget Left: {{ budget_left|floatformat:2 }}$</p>
            <div class="right">
                <!-- Edit Profile Button -->
                <a class="button edit" href="{% url 'profile_edit' profile.pk%}">Edit Profile</a>
                <!-- Delete Profile Button -->
                <a class="button delete" href="{% url 'profile_delete' profile.pk%}">Delete Profile</a>
            </div>
        </div>
    </div>
    <!-- End Your Profile Data -->
{% endblock %}